.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-spacing {
  margin-bottom: 0px;
}

/* Add these styles to center the container */
.title-container {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh; /* 100% of the viewport height */
}

.text-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
}

textarea {
  margin-top: 10px;
  width: 70%;
  height: 80%; /* Adjust as needed */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 3px solid #000E23; /* Light grey border */}

.button-container {
    display: flex; /* Establishes a flex container */
    justify-content: center; /* Center horizontally */
    /* Optional: align-items: center; to center vertically as well */
}

.my-button {
    position: relative; /* or absolute, fixed, depending on use case */
    bottom: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black; /* White text */
    padding: 15px 32px; /* sPadding around the text */
    border: 2px solid #000E23; 
    color: black; /* Lighter text color for the description */
    font-size: 1.2em;
    justify-content: center; /* Center horizontally */
    border-radius: 12px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}
  
.my-button:hover {
  background-color: rgba(255, 255, 255, 0.8); 
}