.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-spacing {
  margin-bottom: 0px;
}

/* Add these styles to center the container */
.title-container {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh; /* 100% of the viewport height */
}

.text-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
}

textarea {
  margin-top: 10px;
  width: 80%; /* Adjust as needed */
}