html, body {
  height: 100%; /* Ensure full height coverage */
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

body {
  content: ''; /* Required content for pseudo-element */
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('mesh.png');
  background-size: cover;
  background-repeat: repeat; /* Ensure the image doesn't repeat */
  opacity: 1;
  z-index: -1;
}

.header-text {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}