/* Style for the header */
.site-header {
    background: linear-gradient(
        to bottom, 
        rgba(255, 255, 255, .9) 15%, /* Start with full opacity */
        rgba(255, 255, 255, .45) 70% /* End with full transparency */
    );
    text-align: center; /* Center align the text */
    border-bottom: 2px solid #333;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* This will vertically center the button and title */
    text-align: center;
    padding: 15px 15px;
}

.left-button {
    margin-right: -60px;
}

.header-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .spacer {
    width: same-as-button;
  }

/* Style for the title */
.site-header h1 {
    margin: 0 0 10px; /* Remove default margin and add a bottom margin */
    color: #333; /* Dark text color for the title */
    font-size: 2.5em; /* Larger font size for the title */
    z-index: 10;
}

/* Style for the description */
.site-header p {
    margin: 0; /* Remove default margin */
    color: #666; /* Lighter text color for the description */
    font-size: 1.2em; /* Slightly larger font size for the description */
    z-index: 10;
}

.powered-by-container {
    display: flex; /* Aligns children inline */
    align-items: center; /* Centers children vertically */
    justify-content: center; /* Optional: for horizontal centering within the container */
}

/* If GPTComponent renders an image or similar, you may need to style it as well */
.powered-by-container img {
    height: 30px; /* Example height, adjust as necessary */
    width: auto; /* Maintain aspect ratio */
    margin-left: 4px; /* Add some space between the text and the symbol */
}